.copy
    background: #E0EDF5
    border-radius: 5px
    text-align: center
    padding-bottom: 17px
    padding-top: 17px
    margin-top: 34px
    color: #93AAC0
    font-family: Gilroy
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 150%
.fotter_container
    margin-top: 80px
    display: flex
    justify-content: space-between
.left_fotter
    margin-top: 35px
    display: flex
.nav_fotter
    .flex
        display: flex
    .main_p
        margin-top: 113px
        font-family: Gilroy
        font-style: normal
        font-weight: 500
        font-size: 15px
        line-height: 150%
        color: #314A60
    &_block1, &_block2
        display: flex
        flex-direction: column
        margin-right: 75px
        .heshteg
            margin-bottom: 21px
            color: #314A60
        a
            font-family: Gilroy
            font-style: normal
            font-weight: 500
            font-size: 15px
            line-height: 150%
            color: #314A60
            margin-bottom: 5px
.nav_fotter_block2
    margin-top: 43px
.blog_fotter
        display: flex
        flex-direction: column
         margin-right: 147px
        .heshteg
            margin-bottom: 21px
            color: #314A60
        a
            font-family: Gilroy
            font-style: normal
            font-weight: 500
            font-size: 15px
            line-height: 150%
            color: #314A60
            margin-bottom: 5px
        .hesh_dop
            margin-top: 65px
        div
            display: flex
            justify-content: space-between
.right_fotter
    background: #314A60
    border-radius: 5px
    padding: 37px 56px 32px 44px
    color: white
    p
        font-family: Gilroy
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 150%
    .heshteg
        margin-bottom: 21px
        color: white
    .meta_fotter
        margin-top: 96px