.free_konsult
	display: flex
	margin-top: 104px
	.right_txt_free_konsult
		padding-top: 72px
		margin-left: 54px
		.main_h1
			margin-bottom: 16px
		.main_p
			margin-bottom: 51px
		.main_button
			margin-top: 0px
			padding-top: 11px
			padding-bottom: 11px
			padding-left: 80px
			padding-right: 34px
			.img_left
				margin-top: 0px
				margin-left: -40px