// main page elements
body
	font-size: 14px
	// color: $dark
	font-family: 'Gilroy'
	font-weight: 400
	background: white
	overflow-x: hidden
	// +scrollbar(10px, auto, $yellow, $gray2, $dark, null)

.page-container
	max-width: 1920px
	width: 100%
	margin: 0 auto
	font-family: 'Gilroy'

.container
	max-width: 1570px
	width: 100%
	padding: 0
	margin: 0 auto
	+mq($max-width: 1200px)
		padding: 0 15px
		max-width: 100%
	+mq($max-width: 575px)
		padding: 0 10px

.heshteg
	font-family: Gilroy
	font-style: normal
	font-weight: 800
	font-size: 18px
	line-height: 130%
	text-transform: uppercase
	color: #93AAC0
.main_h1
	font-family: Gilroy
	font-style: normal
	font-weight: bold
	font-size: 34px
	line-height: 130%
	color: #314A60
.main_p
	font-family: Gilroy
	font-style: normal
	font-weight: normal
	font-size: 14px
	line-height: 150%
	color: #314A60
	max-width: 278px
.main_button
	align-items: center
	display: flex
	background: #EA3838
	border-radius: 5px
	padding-top: 16px
	padding-bottom: 16px
	
	color: #fff
	font-family: Gilroy
	font-style: normal
	font-weight: bold
	font-size: 16px
	line-height: 150%
	cursor: pointer
	margin-top: 35px
	.img_left
		margin-left: 10px
.mg_top
	margin-top: 84px
.button_slider
	background: #E0EDF5
	border-radius: 5px
	padding: 17px
	&:hover
		background: #EA3838
//slider
.slick-dots 
	margin-top: 15px
	list-style: none
	padding: 0
	margin: 0
	display: flex
	align-items: center
	justify-content: center
.slick-dots 
	margin: 15px 0
	li
		border-radius: 50%
		width: 10px
		height: 10px
		font-size: 0px
		background: #E0EDF5
		margin: 0 8px
		button
			font-size: 0px
		&.slick-active
			transform: scale(1.1)
			
		.slick-dots 
	.slick-active
		border-radius: 11px
		width: 49px
		background: #44B2FC
		button
			
			
			height: 10px
			font-size: 0px
			
.slick-next
	right: 10px
.slick-prev
	left: 10px
	z-index: 99

