.header
    display: flex
    padding-top: 28px
    padding-bottom: 28px
    .logo
        margin-right: 13px
    .logo_text
        margin-top: 5px
        .logo_text_up
            font-family: Gilroy
            font-style: normal
            font-weight: 800
            font-size: 26px
            line-height: 32px
            color: #314A60
        .logo_text_email
            display: flex
            margin-top: 10px
            a
                margin-right: 13px
            p
                font-family: Gilroy
                font-style: normal
                font-weight: 500
                font-size: 14px
                line-height: 16px
                color: #314A60

    .call
        display: flex
        flex-direction: column
