<footer>
    <div class="page-container">
        <div class="container">
            <div class="fotter_container">
                <div class="left_fotter">
                    <div class="nav_fotter">
                        <div class="flex">
                            <div class="nav_fotter_block1">
                                <div class="heshteg">#Навигация</div>
                                <ul>
                                    <li><a href="#">Услуги</a></li>
                                    <li><a href="#">Обследование тепловизором</a></li>
                                    <li><a href="#">Обследование аэродверью</a></li>
                                    <li><a href="#">Ремонт окон</a></li>
                                    <li><a href="#">Ремонт балкона</a></li>
                                    <li><a href="#">Экспертиза окон</a></li>
                                    <li><a href="#">Разработка проектов</a></li>
                                    <li><a href="#">Выбор поставщиков</a></li>
                                    <li><a href="#">Установка противовзломных окон</a></li>
                                    <li><a href="#">Установка безопасных окон для кошек</a></li>
                                </ul>
                            </div>
                            <div class="nav_fotter_block2">
                                <ul>
                                    <li><a href="#">Установка безопасных окон для детей</a></li>
                                    <li><a href="#">Шеф-монтаж</a></li>
                                    <li><a href="#">Теплое остекление</a></li>
                                    <li><a href="#">Теплые окна</a></li>
                                    <li><a href="#">Монтаж окон</a></li>
                                    <li><a href="#">Консультации</a></li>
                                    <li><a href="#">Выбор исполнителей</a></li>
                                    <li><a href="#">Утепление балконов</a></li>
                                    <li><a href="#">Установка окон</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="main_p">© 1977-2020 Kozhushko.pro. Все права защищены.</div>
                    </div>
                    <div class="blog_fotter">
                        <div class="heshteg">#блог</div>
                        <ul>
                            <li><a href="#">Безопасность окон и балконов</a></li>
                            <li><a href="#">Правильный выбор исполнителя</a></li>
                            <li><a href="#">Всё о закупке материалов</a></li>
                            <li><a href="#">Проверка качества работ </a></li>
                            <li><a href="#">Проекты балконов и лоджий</a></li>
                            <li><a href="#">Бизнес партнерство</a></li>
                            <li><a href="#">Выбор окон и комплектующих</a></li>
                            <li><a href="#">Ремонт окон</a></li>
                            <li><a href="#">Тепловизор</a></li>
                            <li><a href="#">Утепление и остекление</a></li>
                        </ul>
                        <div class="heshteg hesh_dop">#соцсети</div>
                        <div>
                            <a href="#"><img src="../img/facebook_2.png"></a>
                            <a href="#"><img src="../img/instagram_2.png"></a>
                            <a href="#"><img src="../img/vk_2.png"></a>
                            <a href="#"><img src="../img/youtube_2.png"></a>
                            <a href="#"><img src="../img/odnoklassniki_2.png"></a>
                            <a href="#"><img src="../img/whatsapp_2.png"></a>
                        </div>
                    </div>
                </div>
                <div class="right_fotter">
                    <div class="heshteg">#Кожушко Владимир</div>
                    <div class="fotter_text">г. Москва, ул. Новокосинская,<br><br> дом 12, корпус 1<br><br><a href="tel:+79067717464">+7 (906) 771-74-64</a> <br><br><a href="mailto:info@kozhushko.pro">info@kozhushko.pro</a> </div>
                    <div class="meta_fotter">ИНН 502212870719<br>ОГРНИП 318774600258574<br>ОКВЭД 43.32.1<br>БИК 044525225<br>р/с 40802810238000089444 в Отделении<br>Сбербанка России, к/с 30101810400000000225</div>
                </div>
            </div>
            <div class="copy"><a href="https://mnogoland.ru/ ">Разработано студией MNOGOLAND</a></div>
        </div>
    </div>