<footer>
    <div class="page-container">
        <div class="container">
            <div class="fotter_container">
                <div class="left_fotter">
                    <div class="nav_fotter">
                        <div class="flex">
                            <div class="nav_fotter_block1">
                                <div class="heshteg">#Навигация</div>
                                <a href="#">Услуги</a>
                                <a href="#">Обследование тепловизором</a>
                                <a href="#">Обследование аэродверью</a>
                                <a href="#">Ремонт окон</a>
                                <a href="#">Ремонт балкона</a>
                                <a href="#">Экспертиза окон</a>
                                <a href="#">Разработка проектов</a>
                                <a href="#">Выбор поставщиков</a>
                                <a href="#">Установка противовзломных окон</a>
                                <a href="#">Установка безопасных окон для кошек</a>
                            </div>
                            <div class="nav_fotter_block2">
                                <a href="#">Установка безопасных окон для детей</a>
                                <a href="#">Шеф-монтаж</a>
                                <a href="#">Теплое остекление</a>
                                <a href="#">Теплые окна</a>
                                <a href="#">Монтаж окон</a>
                                <a href="#">Консультации</a>
                                <a href="#">Выбор исполнителей</a>
                                <a href="#">Утепление балконов</a>
                                <a href="#">Установка окон</a>
                            </div>
                        </div>
                        <div>© 1977-2020 Kozhushko.pro. Все права защищены.</div>
                    </div>
                    <div class="blog_fotter">
                        <div class="heshteg">#блог</div>
                        <a href="#">Безопасность окон и балконов</a>
                        <a href="#">Правильный выбор исполнителя</a>
                        <a href="#">Всё о закупке материалов</a>
                        <a href="#">Проверка качества работ </a>
                        <a href="#">Проекты балконов и лоджий</a>
                        <a href="#">Бизнес партнерство</a>
                        <a href="#">Выбор окон и комплектующих</a>
                        <a href="#">Ремонт окон</a>
                        <a href="#">Тепловизор</a>
                        <a href="#">Утепление и остекление</a>

                        <div class="heshteg hesh_dop">#соцсети</div>
                        <div>
                            <a href="#"><img src="../img/facebook_2.png"></a>
                            <a href="#"><img src="../img/instagram_2.png"></a>
                            <a href="#"><img src="../img/vk_2.png"></a>
                            <a href="#"><img src="../img/youtube_2.png"></a>
                            <a href="#"><img src="../img/odnoklassniki_2.png"></a>
                            <a href="#"><img src="../img/whatsapp_2.png"></a>
                        </div>
                    </div>
                </div>
                <div class="right_fotter">
                    <div class="heshteg">#Кожушко Владимир</div>
                    <div>г. Москва, ул. Новокосинская,<br><br> дом 12, корпус 1<br><br> +7 (906) 771-74-64<br><br> info@kozhushko.pro</div>
                    <div class="meta_fotter">ИНН 502212870719<br>ОГРНИП 318774600258574<br>ОКВЭД 43.32.1<br>БИК 044525225<br>р/с 40802810238000089444 в Отделении<br>Сбербанка России, к/с 30101810400000000225</div>
                </div>
            </div>
            <div class="copy">Разработано студией MNOGOLAND</div>
        </div>
    </div>