
<div class="page-container">
	<div class="container"> 
		<div class="header">
			<div class="logo"><a href=""><img src="../img/logo.png"></a></div>
			<div class="logo_text">
				<div class="logo_text_up">Владимир Кожушко</div>
				<div class="logo_text_email">
					<a href=""><img src="../img/email.png"></a>
					<div>info@kozhushko.pro</div>
				</div>
			</div>
			<div class="menu">
				<nav class="main-nav main-nav-dop" role="navigation">
					<!-- Mobile menu toggle button (hamburger/x icon) -->
					<input id="main-menu-state" type="checkbox" />
					<label class="main-menu-btn" for="main-menu-state">
						<span class="main-menu-btn-icon"></span> Toggle main menu visibility
					</label>
					<!-- Sample menu definition -->
					<ul id="main-menu" class="sm sm-clean">
						<li><a href="#">Главная</a></li>
						<li><a href="#">Услуги</a>
						<ul class="sub_menu">
							<li><a href="#">Консультации</a></li>
							<li><a href="#">Выездные услуги</a></li>
						</ul>
						</li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Обо мне</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Я на TV</a></li>
					</ul>
				</nav>
			</div>
			<div class="search">
				<input type="" name="" value="поиск по сайту">
			</div>
			<div class="call">
				<button class="main_button"> +7 (906) 771-74-64</button>
				<a href="#">Заказать звонок</a>
			</div>
		</div>
	</div>
</div>