
<div class="page-container">
	<div class="container"> 
		<div class="header">
			<div class="logo"><a href="index.html"><img src="../img/logo.png"></a></div>
			<div class="logo_text">
				<div class="logo_text_up">Владимир Кожушко</div>
				<a href="#" class="logo_text_email">
						<img src="../img/email.png">
						<span>info@kozhushko.pro</span>
				</a>
			</div>
			<div class="menu">
				<nav class="main-nav main-nav-dop" role="navigation">
					<!-- Mobile menu toggle button (hamburger/x icon) -->
					<input id="main-menu-state" type="checkbox" />
					<label class="main-menu-btn" for="main-menu-state">
						<span class="main-menu-btn-icon"></span> Toggle main menu visibility
					</label>
					<!-- Sample menu definition -->
					<ul id="main-menu" class="sm sm-clean">
						<li><a href="#">Главная</a></li>
						<li><a href="#">Услуги</a>
						<ul class="sub_menu">
							<li><a href="#">Консультации</a></li>
							<li><a href="#">Выездные услуги</a></li>
						</ul>
						</li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Обо мне</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Я на TV</a></li>
					</ul>
				</nav>
			</div>
			<form class="search" action="#" method="POST">
				<button type="submit"> 
					<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.8962 16.8419L11.9579 11.9074C12.8945 10.752 13.4583 9.28308 13.4583 7.68377C13.4583 3.97628 10.4396 0.959961 6.72916 0.959961C3.0187 0.959961 0 3.97628 0 7.68377C0 11.3913 3.01873 14.4076 6.72919 14.4076C8.32978 14.4076 9.79989 13.8442 10.9563 12.9083L15.8946 17.8427C16.033 17.9809 16.2572 17.9809 16.3955 17.8427L16.8963 17.3423C17.0346 17.2041 17.0346 16.9801 16.8962 16.8419ZM6.72919 12.992C3.79971 12.992 1.41668 10.6109 1.41668 7.68377C1.41668 4.75663 3.79971 2.37551 6.72919 2.37551C9.65868 2.37551 12.0417 4.75663 12.0417 7.68377C12.0417 10.6109 9.65868 12.992 6.72919 12.992Z" fill="#314A60"/></svg>
				</button>
				<input type="search" placeholder="поиск по сайту">
			</form>
			<div class="call">
				<button class="main_button"> +7 (906) 771-74-64</button>
				<a href="#">Заказать звонок</a>
			</div>
		</div>
	</div>
</div>