- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug
			//- тут все блоки страницы кроме шапки и подвала
			<div class="page-container">
				<div class="container"> 
                    <div class="popular_state">
						<div class="heshteg">#Популярные статьи</div>
						<div class="block_state">
							<div class="block_big">
								<div class="img_a">
									<a href="#"><img src="../img/image_2.png"></a>
									<span>#утепление</span>
								</div>
								<div class="block_big_text">
									<h4>Современный рынок предлагает нам большое количество разновидностей материалов для теплоизоляции</h4>
									<p>Хотя, несмотря на все это многообразие, многие до сих пор по старинке, утепляют исключительно минеральной ватой и пенопластом. Такое традиционное утепление наиболее доступное по цене, и оно в определенной степени решает проблему. Однако можно воспользоваться и более эффективными утеплителями.<br><br>При утеплении балконов и лоджий используются одни и те же материалы, по этой причине приведем их одним списком.<br><br>Экструзионный пенополистирол (пеноплекс) – это прочный и плотный материал, устойчивый к влаге, и с низким коэффициентом теплопроводности ...</p>
									<h4 class="date_time">Янв 12, 2020</h4>
								</div>
							</div>
                            <div class="block_big">
								<div class="img_a">
									<a href="#"><img src="../img/image_2.png"></a>
									<span>#утепление</span>
								</div>
								<div class="block_big_text">
									<h4>Современный рынок предлагает нам большое количество разновидностей материалов для теплоизоляции</h4>
									<p>Хотя, несмотря на все это многообразие, многие до сих пор по старинке, утепляют исключительно минеральной ватой и пенопластом. Такое традиционное утепление наиболее доступное по цене, и оно в определенной степени решает проблему. Однако можно воспользоваться и более эффективными утеплителями.<br><br>При утеплении балконов и лоджий используются одни и те же материалы, по этой причине приведем их одним списком.<br><br>Экструзионный пенополистирол (пеноплекс) – это прочный и плотный материал, устойчивый к влаге, и с низким коэффициентом теплопроводности ...</p>
									<h4 class="date_time">Янв 12, 2020</h4>
								</div>
							</div>
                            <div class="block_big">
								<div class="img_a">
									<a href="#"><img src="../img/image_2.png"></a>
									<span>#утепление</span>
								</div>
								<div class="block_big_text">
									<h4>Современный рынок предлагает нам большое количество разновидностей материалов для теплоизоляции</h4>
									<p>Хотя, несмотря на все это многообразие, многие до сих пор по старинке, утепляют исключительно минеральной ватой и пенопластом. Такое традиционное утепление наиболее доступное по цене, и оно в определенной степени решает проблему. Однако можно воспользоваться и более эффективными утеплителями.<br><br>При утеплении балконов и лоджий используются одни и те же материалы, по этой причине приведем их одним списком.<br><br>Экструзионный пенополистирол (пеноплекс) – это прочный и плотный материал, устойчивый к влаге, и с низким коэффициентом теплопроводности ...</p>
									<h4 class="date_time">Янв 12, 2020</h4>
								</div>
							</div>
							<div class="block_big p_mn">
								<div class="img_a">
									<a href="#"><img src="../img/image_3.png"></a>
									<span>#французское</span>
								</div>
								<div class="block_big_text">
									<h4>От пола до потолка — стиль французского остекления балкона</h4>
									<p>Последнее время весьма модным, престижным веянием стало остеклять балконы во французском стиле. Они смотрятся очень красиво, застеклены от пола до самого потолка. Если вы живете на последних этажах, с него будет прекрасно виден весь город. Спросите, зачем же остеклять всю конструкцию? Ответ очевиден. Раньше балкон выполнял функции некоего хранилища, кладовой, куда прятались старые, ненужные вещи. Здесь же хранилась консервация, овощи, так далее. Сегодня балкон стал частью жилища, его пытаются обустроить, сделать уютнее, комфортнее ...</p>
									<h4 class="date_time">Дек 31, 2020</h4>
								</div>	
							</div>
						</div>
					</div>
					<div class="free_konsult">
						<div class="left_img_free_konsult">
							<img src="../img/free_konsult.png">
						</div>
						<div class="right_txt_free_konsult">
							<div class="main_h1">Нужна бесплатная консультация?</div>
							<div class="main_p">Напишитемне в WhatsApp<br> прямосейчас. Я на связи!</div>
							<button class="main_button"><img class="img_left" src="../img/whatsapp.png">Написать</button>
						</div>
					</div>
				</div>
			</div>
		include blocks/footer.pug
		include blocks/scripts.pug