- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			//- тут все блоки страницы кроме шапки и подвала
		<body>
			<div class="page-container">
				<div class="container"> 
					<div class="vseoboknax">
						<div class="vseoboknax_text">
							<h3>#всеобокнах</h3>
							<h1>Новостной блог об остеклении, утеплении и ремонте</h1>
							<p class="vseoboknax_p">Больше 20 лет я занимаюсь остеклением балконов, веранд установкой окон и дверей в Москве и Московской области.</p>
						</div>
						<div class="vseoboknax_media">
							<p class="vseoboknax_p">Будь всегда в курсе:</p>
							<a href=""><img src="../img/f.png"></a>
							<a href=""><img src="../img/instagram.png"></a>
							<a href=""><img src="../img/vk.png"></a>
							<a href=""><img src="../img/youtube.png"></a>
							<a href=""><img src="../img/odnoklassniki.png"></a>
							<a href=""><img src="../img/whatsapp.png"></a>
						</div>
					</div>
					<div class="slider_fourblocks">
						<div class="slider single-item">
							<div>
								<img src="../img/slide_1.png">
								<div class="block_slider_txt">
									<div>
										<img src="../img/white.png">
										<div class="slide_title">Я уверен в том, что красоту помещения определяет его обрамление, которое создается с помощью рам, дверей, окон и балконов.</div>
									</div>
										<p>Президент Союза Оконщиков России, больше 20 лет в оконном бизнесе</p>
								</div>
							</div>
							<div>
								<img src="../img/slide_1.png">
								<div class="block_slider_txt">
									<div>
										<img src="../img/white.png">
										<div class="slide_title">1Я уверен в том, что красоту помещения определяет его обрамление, которое создается с помощью рам, дверей, окон и балконов.</div>
									</div>
										<p>1Президент Союза Оконщиков России, больше 20 лет в оконном бизнесе</p>
								</div>
							</div>
						</div>

						<div class="fourblocks"> 
							<a href="#">
								<div><img src="../img/Group.png"><p>Владелец компании «ЭлитБалкон»</p></div>
							</a>
							<a href="#">
								<div><img src="../img/Group.png"><p>Мои проекты за 20 лет</p></div>
							</a>
							<a href="#">
								<div><img src="../img/Group (1).png"><p>Благодарности</p></div>
							</a>
							<a href="#">
								<div><img src="../img/Group (2).png"><p>Мои услуги</p></div>
							</a>
						</div>
					</div>
					<div class="popular_state_main">
						<div class="meta_teg left_block">
							<div class="a_meta_teg">
								<a href="#">#балконы</a>
								<a href="#">#остекление</a>
								<a href="#">#по типу дома</a>
								<a href="#">#утепление</a>
								<a href="#">#окна</a>
								<a href="#">#pexay</a>
								<a href="#">#отделка</a>
								<a href="#">#балконы</a>
								<a href="#">#остекление</a>
								<a href="#">#по типу дома</a>
								<a href="#">#утепление</a>
								<a href="#">#окна</a>
								<a href="#">#рехау</a>
								<a href="#">#отделка</a>
								<a href="#">#балконы</a>
								<a href="#">#остекление</a>
								<a href="#">#по типу дома</a>
								<a href="#">#утепление</a>
								<a href="#">#окна</a>
								<a href="#">#рехау</a>
								<a href="#">#отделка</a>
								<a href="#">#балконы</a>
								<a href="#">#остекление</a>
								<a href="#">#по типу дома</a>
								<a href="#">#утепление</a>
							</div>
							<button class="main_button">Все статьи<img class="img_left" src="../img/Arrow 1.png"></button>
						</div>
						<div class="popular_state">
							<h3>#Популярные статьи</h3>
							<div class="block_state">
								<div class="block_big">
									<div class="img_a">
										<img src="../img/image_2.png">
										<a href="#">#утепление</a>
									</div>
									<div class="block_big_text">
										<h4>Современный рынок предлагает нам большое количество разновидностей материалов для теплоизоляции</h4>
										<p>Хотя, несмотря на все это многообразие, многие до сих пор по старинке, утепляют исключительно минеральной ватой и пенопластом. Такое традиционное утепление наиболее доступное по цене, и оно в определенной степени решает проблему. Однако можно воспользоваться и более эффективными утеплителями.<br><br>При утеплении балконов и лоджий используются одни и те же материалы, по этой причине приведем их одним списком.<br><br>Экструзионный пенополистирол (пеноплекс) – это прочный и плотный материал, устойчивый к влаге, и с низким коэффициентом теплопроводности ...</p>
										<h4 class="date_time">Янв 12, 2020</h4>
									</div>
								</div>
								<div class="block_two">
									<div class="sub_block_big">
										<div class="img_a">
											<img src="../img/image_1.png">
											<a href="#">#безопасность</a>
										</div>
										<div class="block_big_text">
											<h4>Всех родителей интересует вопрос безопасности детей</h4>
											<p>Даже когда маленький ребенок играет дома под присмотром родителей. Дети бывают настолько непредсказуемы что порой просто диву даешься ...</p>
												<h4 class="date_time">Июн 11, 2020</h4>
										</div>
									</div>
									<div class="sub_block_big">
										<div class="img_a">
											<img src="../img/image_4.png">
											<a href="#">#объектные решения</a>
										</div>
										<div class="block_big_text">
											<h4>Двигая прогресс - мы улучшаем жизнь</h4>
											<p>С каждым годом мы всё больше требовательны к комфорту в повседневной жизни. Если раньше пластиковые окна были невиданной роскошью, доступной только процветающему бизнесу ...</p>
											<h4 class="date_time">Фев 01, 2020</h4>
										</div>
									</div>
								</div>
								<div class="block_big p_mn">
									<div class="img_a">
										<img src="../img/image_3.png">
										<a href="#">#французское</a>
									</div>
									<div class="block_big_text">
										<h4>От пола до потолка — стиль французского остекления балкона</h4>
										<p>Последнее время весьма модным, престижным веянием стало остеклять балконы во французском стиле. Они смотрятся очень красиво, застеклены от пола до самого потолка. Если вы живете на последних этажах, с него будет прекрасно виден весь город. Спросите, зачем же остеклять всю конструкцию? Ответ очевиден. Раньше балкон выполнял функции некоего хранилища, кладовой, куда прятались старые, ненужные вещи. Здесь же хранилась консервация, овощи, так далее. Сегодня балкон стал частью жилища, его пытаются обустроить, сделать уютнее, комфортнее ...</p>
										<h4 class="date_time">Дек 31, 2020</h4>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<div class="polezen">
						<div class="left_block">
							<h2 class="heshteg">#чем я могу быть Вам полезен</h2>
							<h1 class="main_h1">Консультации</h1>
							<p class="main_p">Отличная возможность не допустить ошибок перед проведением остекления и благоустройства балконов. Обращаясь за консультацией ко мне, вы получаете полное информационное сопровождение в волнующей вас теме с возможностью подбора необходимых специалистов для выполнения.</p>
							<button class="main_button">Посмотреть все<img class="img_left" src="../img/Arrow 1.png"></button>
						</div>
						<div class="popular_state">
							<div class="block_state">
								<div class="block_big">
									<img src="../img/konsul_1.png">
									<div class="block_big_text">
										<h4>Выбор исполнителей</h4>
										<p>Уважаемые коллеги, читатели моего блога и просто гости этой страницы, предоставляю возможность воспользоваться моими услугами по выбору необходимых материалов для реализации...</p>
										<a href="#">Перейти</a>
									</div>
								</div>
								<div class="block_big">
									<img src="../img/konsul_2.png">
									<div class="block_big_text">
										<h4>Консультация по утеплению балконов</h4>
										<p>Уважаемые коллеги, читатели моего блога и просто гости этой страницы, предоставляю возможность воспользоваться моими услугами по выбору необходимых материалов для реализации...</p>
										<a href="#">Перейти</a>
									</div>
								</div>
								<div class="block_big p_mn">
									<img src="../img/konsul_3.png">
									<div class="block_big_text">
										<h4>Консультация по остеклению балконов</h4>
										<p>Уважаемые коллеги, читатели моего блога и просто гости этой страницы, предоставляю возможность воспользоваться моими услугами по выбору необходимых материалов для реализации...</p>
										<a href="#">Перейти</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="polezen mg_top">
						<div class="left_block">
							<h2 class="heshteg">#чем я могу быть Вам полезен</h2>
							<h1 class="main_h1">Выездные услуги</h1>
							<p class="main_p">Выездные услуги – в спектр данных работ включены обследования качества и надежности остекления, а также оценка аварийности вашего балкона или лоджии. Я работаю по всей Москве и области с выездом к вам домой или в офис в оговоренные сроки.</p>
							<button class="main_button">Посмотреть все<img class="img_left" src="../img/Arrow 1.png"></button>
						</div>
						<div class="popular_state">
							<div class="block_state">
								<div class="block_big">
									<img src="../img/uslugi_1.png">
									<div class="block_big_text">
										<h4>Обследование тепловизором</h4>
										<p>Если из Ваших окон дует – это не есть нормально, не нужно спихивать данную проблему на сложные погодные условия или год постройки дома. Здесь явное дело в некачественном ...</p>
										<a href="#">Перейти</a>
									</div>
								</div>
								<div class="block_big">
									<img src="../img/uslugi_2.png">
									<div class="block_big_text">
										<h4>Обследование аэродверью</h4>
										<p>Если Вы устали от постоянных сквозняков, продуваний и холода, которые мешают Вам сделать свой дом по-настоящему уютным и теплым, необходимо выявить ...</p>
										<a href="#">Перейти</a>
									</div>
								</div>
								<div class="block_big p_mn">
									<img src="../img/uslugi_3.png">
									<div class="block_big_text">
										<h4>Ремонт окон</h4>
										<p>Я предлагаю монтаж и ремонт элементов остекления, работая с различными типами окон. Поэтому владельцы пластиковых, алюминиевых и деревянных ...</p>
										<a href="#">Перейти</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mockup_block">
						<div class="left_img_mockup">
							<img src="../img/mocup.png">
							<div class="poverh_img">
								<h1 class="main_h1">Скачайте каталог с детальным описанием всех моих услуг в удобный Вам мессенджер</h1>
								<p class="main_p">* Не занимает много места</p>
								<button class="main_button"><img class="img_left" src="../img/donwload.png">Скачать</button>
							</div>
						</div>
						<div class="right_txt_mockup">
							<h1 class="main_h1">Больше</h1>
							<div>
								<div class="number_red">20</div>
								<div class="year_red">лет</div>
							</div>
							<h1 class="main_h1">в оконном бизнесе</h1>
							<h2 class="heshteg">#профессионализм</h2>
							<div class="flex">
								<img src="../img/el.png">
								<p class="main_p">При оказании услуг я гарантирую соблюдение профессиональных и этических норм принятых в профессиональном сообществе.</p>
							</div>
						</div>
					</div>
					<div class="project">
						<div class="left_block_project">
							<h2 class="heshteg">#проекты</h2>
							<h1 class="main_h1">Посмотрите, какие проекты я курировал и какой получили результат</h1>
						</div>
						<div class="multiple-items">
							<div>
								<div class="block_big">
									<img src="../img/uslugi_1.png">
									<div class="block_big_text">
										<h4>Обследование тепловизором</h4>
									</div>
								</div>
							</div>
							<div>
								<div class="block_big">
									<img src="../img/uslugi_1.png">
									<div class="block_big_text">
										<h4>Обследование тепловизором</h4>
									</div>
								</div>
							</div>
							<div>
								<div class="block_big no_mn">
									<img src="../img/uslugi_1.png">
									<div class="block_big_text">
										<h4>Обследование тепловизором</h4>
									</div>
								</div>
							</div>
							<div>
								<div class="block_big">
									<img src="../img/uslugi_1.png">
									<div class="block_big_text">
										<h4>1Обследование тепловизором</h4>
									</div>
								</div>
							</div>
							<div>
								<div class="block_big">
									<img src="../img/uslugi_1.png">
									<div class="block_big_text">
										<h4>1Обследование тепловизором</h4>
									</div>
								</div>
							</div>
							<div>
								<div class="block_big no_mn">
									<img src="../img/uslugi_1.png">
									<div class="block_big_text">
										<h4>1Обследование тепловизором</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="partners">
						<div class="partners_txt">
							<h2 class="heshteg">#партнеры</h2>
							<img src="../img/el.png">
							<p class="main_p">Со мной работают и мне доверяют известные компании</p>
						</div>
						<div class="partners_blocks">
							<a href="#"><img src="../img/part_1.png"></a>
							<a href="#"><img src="../img/part_2.png"></a>
							<a href="#"><img src="../img/part_3.png"></a>
							<a href="#"><img src="../img/part_4.png"></a>
							<a href="#"><img src="../img/part_5.png"></a>
							<a href="#"><img src="../img/part_6.png"></a>
							<a href="#"><img src="../img/part_7.png"></a>
						</div>
					</div>
					<div class="free_konsult">
						<div class="left_img_free_konsult">
							<img src="../img/free_konsult.png">
						</div>
						<div class="right_txt_free_konsult">
							<h1 class="main_h1">Нужна бесплатная консультация?</h1>
							<p class="main_p">Напишитемне в WhatsApp<br> прямосейчас. Я на связи!</p>
							<button class="main_button"><img class="img_left" src="../img/whatsapp.png">Написать</button>
						</div>
					</div>
				</div>
			</div>
		</body>
		
		include blocks/footer.pug
		include blocks/scripts.pug